rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // ผู้ใช้เข้าถึงรูปได้เฉพาะของตัวเอง
    match /users/{uid}/receipts/{fileName} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
